<{% extends 'mailing_service/base.html' %}

{% block title %}Редактирование получателя рассылки{% endblock %}

{% block content %}
<p class="text-center h2">Редактирование получателя рассылки</p>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a href="{% url 'mailing_service:client_list' %}" class="btn btn-secondary">Отмена</a>
</form>
{% endblock %}